div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 230, 139);
    width: auto;
    border: 15px solid rgb(255, 142, 62);
    border-radius: 20px;
    justify-content: center;

}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
}

.overlay {
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 142, 62);
    padding-left: 115px;
}

input {
    box-sizing: border-box;
    border: 1px groove rgb(255, 142, 62);
    border-radius: 5px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    align-self: center;
}

#ED {
    pointer-events: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    align-self: center;
}


.corner-img {
    width: 400px;
    margin: auto;
    z-index: 1;
    pointer-events: none;
}
